#footer {
  background-color: #fff;
  height: 5rem;
  border-top: 1px solid var(--grey);
}

#footer-links li {
  list-style: none;
  display: inline;
  margin: 20px;
  font-family: var(--text-font);
}

#footer-links li:hover {
  color: var(--blue);
}

#footer-links li {
  list-style: none;
  display: inline;
  margin: 20px;
  font-family: var(--text-font);
}

#footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
