#footer {
    background-color: grey;
    height: 5rem;
    width: 100vw;
    display: flex;
}

#footer-links li {
    list-style: none;
    display: inline;
    margin: 20px;
}

#footer-copywrite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#footer-links {
    display: flex;
    justify-content: end;
    align-items: center;
}